comment "Processor Type"

# Select CPU types depending on the architecture selected.  This selects
# which CPUs we support in the kernel image, and the compiler instruction
# optimiser behaviour.

config CPU_UCV3
	def_bool y

comment "Processor Features"

config CPU_ICACHE_DISABLE
	bool "Disable I-Cache (I-bit)"
	help
	  Say Y here to disable the processor instruction cache.
	  ONLY used when debugging or special circumstance.
	  It unsure, say N.
	  Please see web page at <http://www.pkunity.com/>

config CPU_DCACHE_DISABLE
	bool "Disable D-Cache (D-bit)"
	help
	  Say Y here to disable the processor data cache.
	  ONLY used when debugging or special circumstance.
	  It unsure, say N.
	  Please see web page at <http://www.pkunity.com/>

config ALIGNMENT_TRAP
	def_bool y
	help
	  UniCore processors can not fetch/store information which is not
	  naturally aligned on the bus, i.e., a 8 byte fetch must start at an
	  address divisible by 8. However, this is necessary for correct
	  operation of some network protocols.

config SWIOTLB
	def_bool y

config IOMMU_HELPER
	def_bool SWIOTLB

config NEED_SG_DMA_LENGTH
	def_bool SWIOTLB
