<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE book PUBLIC "-//OASIS//DTD DocBook XML V4.1.2//EN">

<book id="unicore64-kernel">
<bookinfo>
	<title>Linux Kernel for UniCore64 Architecture</title>
	<authorgroup>
		<author>
    		<firstname>Guan</firstname>
		<surname>Xuetao</surname>
		<affiliation>
			<address>
				<email>gxt@mprc.pku.edu.cn</email>
			</address>
		</affiliation>
		</author>
	</authorgroup>
	<copyright>
		<year>2011</year>
			<holder>
				Micro Processor Research and Development Center
				of Peking University
			</holder>
	</copyright>
	<legalnotice>
		<para>
			This documentation is the manual for
			UniCore64 kernel interface.
		</para>
	</legalnotice>
</bookinfo>

<toc></toc>

<chapter id="chapter1">
	<title>Fundamental definitions</title>
	<para>
		Fundamental definitions.
	</para>

	<sect1 id="sect1_1">
		<title>Hardware definitions</title>
		<para>
		The hardware definition is association about the
		features of the UniCore64 Architecture, such as
		CPU core,  coprocessors, etc.
		</para>
		<sect2 id="sect1_1_1">
			<title>CPU Core</title>
			<screen>
			See file: arch/unicore64/include/arch/hwdef-cpu.h
			</screen>
!Parch/unicore64/include/arch/hwdef-cpu.h HWDEF_CPU_H
!Parch/unicore64/include/arch/hwdef-cpu.h HWDEF_CPU_H_ASR
!Parch/unicore64/include/arch/hwdef-cpu.h HWDEF_CPU_H_AFR
		</sect2>
		<sect2 id="sect1_1_2">
			<title>Coprocessors</title>
			<screen>
			See file: arch/unicore64/include/arch/hwdef-copro.h
			</screen>
!Parch/unicore64/include/arch/hwdef-copro.h HWDEF_COPRO_H
!Parch/unicore64/include/arch/hwdef-copro.h HWDEF_COPRO_H_CP0
!Parch/unicore64/include/arch/hwdef-copro.h HWDEF_COPRO_H_CP0_CPUID
!Parch/unicore64/include/arch/hwdef-copro.h HWDEF_COPRO_H_CP0_CTRLREG
		</sect2>
    	</sect1>
</chapter>

</book>
