<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE book PUBLIC "-//OASIS//DTD DocBook XML V4.1.2//EN">

<book id="unicore64-kernel">
<bookinfo>
	<title>Linux Kernel for UniCore64 Architecture</title>
	<authorgroup>
		<author>
    		<firstname>Guan</firstname>
		<surname>Xuetao</surname>
		<affiliation>
			<address>
				<email>gxt@mprc.pku.edu.cn</email>
			</address>
		</affiliation>
		</author>
	</authorgroup>
	<copyright>
		<year>2011</year>
			<holder>
				Micro Processor Research and Development Center
				of Peking University
			</holder>
	</copyright>
	<legalnotice>
		<para>
			This documentation is the manual for
			UniCore64 kernel interface.
		</para>
	</legalnotice>
</bookinfo>

<toc></toc>

<chapter id="chapter1">
	<title>Fundamental definitions</title>
	<para>
		Fundamental definitions.
	</para>

	<sect1 id="sect1_1">
		<title>Hardware definitions</title>
		<para>
		The hardware definition is association about the
		features of the UniCore64 Architecture, such as
		CPU core,  coprocessors, etc.
		</para>
		<sect2 id="sect1_1_1">
			<title>CPU Core</title>
			<screen>
			See file: arch/unicore64/include/arch/hwdef-cpu.h
			</screen>
!Parch/unicore64/include/arch/hwdef-cpu.h HWDEF_CPU_H
!Parch/unicore64/include/arch/hwdef-cpu.h HWDEF_CPU_H_ASR
!Parch/unicore64/include/arch/hwdef-cpu.h HWDEF_CPU_H_AFR
		</sect2>
		<sect2 id="sect1_1_2">
			<title>Coprocessors</title>
			<screen>
			See file: arch/unicore64/include/arch/hwdef-copro.h
			</screen>
!Parch/unicore64/include/arch/hwdef-cp0-sysctrl.h HWDEF_CP0_SYSCTRL_H_CP0
!Parch/unicore64/include/arch/hwdef-cp0-sysctrl.h HWDEF_CP0_SYSCTRL_H_CP0_CTRLREG
!Parch/unicore64/include/arch/hwdef-cp0-sysctrl.h HWDEF_CP0_SYSCTRL_H_CP0_CPUID
!Parch/unicore64/include/arch/hwdef-cp0-sysctrl.h HWDEF_CP0_SYSCTRL_H_CP0_CACHE
		</sect2>
		<sect2 id="sect1_1_3">
			<title>Memory</title>
			<screen>
			See file: arch/unicore64/include/arch/hwdef-memory.h
			</screen>
!Parch/unicore64/include/arch/hwdef-memory.h HWDEF_MEMORY_H
!Parch/unicore64/include/arch/hwdef-memory.h HWDEF_MEMORY_H_VM
!Parch/unicore64/include/arch/hwdef-memory.h HWDEF_MEMORY_H_PM
		</sect2>
		<sect2 id="sect1_1_4">
			<title>Page table</title>
			<screen>
			See file: arch/unicore64/include/arch/hwdef-pgtable.h
			</screen>
!Parch/unicore64/include/arch/hwdef-pgtable.h HWDEF_PGTABLE_H
!Parch/unicore64/include/arch/hwdef-pgtable.h HWDEF_PGTABLE_H_ADDR_TRANSLATION
!Parch/unicore64/include/arch/hwdef-pgtable.h HWDEF_PGTABLE_H_PGD
!Parch/unicore64/include/arch/hwdef-pgtable.h HWDEF_PGTABLE_H_PMD
!Parch/unicore64/include/arch/hwdef-pgtable.h HWDEF_PGTABLE_H_PTE
		</sect2>
		<sect2 id="sect1_1_5">
			<title>MMU operations</title>
			<screen>
			See file: arch/unicore64/include/arch/asm-mmuops.h
			</screen>
!Parch/unicore64/include/arch/asm-mmuops.h ASM_MMUOPS_H
!Parch/unicore64/include/arch/asm-mmuops.h ASM_MMUOPS_H_INVALIDATE_DCACHE
!Parch/unicore64/include/arch/asm-mmuops.h ASM_MMUOPS_H_FLUSH_DCACHE
!Parch/unicore64/include/arch/asm-mmuops.h ASM_MMUOPS_H_INVALIDATE_ICACHE
!Parch/unicore64/include/arch/asm-mmuops.h ASM_MMUOPS_H_INVALIDATE_TLB
!Parch/unicore64/include/arch/asm-mmuops.h ASM_MMUOPS_H_SET_PGD
		</sect2>
    	</sect1>
	<sect1 id="sect1_2">
		<title>Definitions related to kernel</title>
		<para>
		Definitions here is related to kernel, and provide the basic
		function for the kernel.
		</para>
	</sect1>
</chapter>

<chapter id="chapter2">
	<title>Foundamental setup</title>
	<para>
		Foundatmental setup.
	</para>
</chapter>

<chapter id="chapter3">
	<title>Atomic and transaction</title>
	<para>
		Atomic and transaction.
	</para>
	<sect1 id="sect3_1">
		<title>Function Definitions related to irq flags</title>
		<screen>
			See file: arch/unicore64/include/asm/irqflags.h
		</screen>
!Parch/unicore64/include/asm/irqflags.h IRQFLAGS_H
	</sect1>
	<sect1 id="sect3_2">
		<title>LD script</title>
		<screen>
			See file: arch/unicore64/kernel/vmlinux.lds.S
		</screen>
!Parch/unicore64/kernel/vmlinux.lds.S VMLINUX_LDS_S
	</sect1>
</chapter>

<chapter id="chapter4">
	<title>Debug</title>
	<para>
		Debug.
	</para>
</chapter>

<chapter id="chapter5">
	<title>Memory management</title>
	<para>
		Memory management.
	</para>
</chapter>

<chapter id="chapter6">
	<title>Interrupt</title>
	<para>
		Interrupt.
	</para>
</chapter>

<chapter id="chapter7">
	<title>Timer</title>
	<screen>
		See file: arch/unicore64/kernel/time.c
	</screen>
!Parch/unicore64/kernel/time.c TIME_C
!Earch/unicore64/kernel/time.c
</chapter>

</book>
